@page "/ParentComponent"

<h1 class="text-danger">Parent Child Component</h1>
<CascadingValue Value="@messageForGrandChild" Name="GrandParentMessage">
    <CascadingValue Value="@LuckyNumber" Name="GrandParentLuckyNumber">
        <ChildComponent @ref="childComp"
                OnClickBtnMethod="ShowMessage" 
                Title="This title was passed down from Parent Component">

            <ChildContent>
                Render Fragment from Parent
            </ChildContent>
            <DangerChildContent>
                Danger Content from Parent
            </DangerChildContent>

        </ChildComponent>
    </CascadingValue>
</CascadingValue>

<AnotherChildComponent placeholder = "Please enter here (From Parent)"></AnotherChildComponent>

<p><b>@messageText</b></p>

<div class="row">
    <button class="btn btn-success" @onclick="()=> childComp.ShowToastrSuccess()">Show Success Alert</button>
</div>

@code {
    private ChildComponent childComp;
    private string messageForGrandChild = "This is a message from GrandParent";
    private string messageText = "";
    public string LuckyNumber { get; set; } = "7";
    private void ShowMessage(MouseEventArgs e){
        messageText = "Blazing Text from Parent";
    }
}
