@page "/hotel_booking"

<h3>Hotel Booking</h3>

<h4 class="bg-light border p-2">First Room</h4>
<br />

Room: <label id="roomName">@Room.RoomName</label>
<br />

Price: <label for="roomPrice">@Room.Price</label>
<br />

Price:
<input type="number" id="roomPrice" name="roomPrice" @bind="Room.Price" />
<br />

Is Active:
<input type="checkbox" id="roomActive" name="roomActive" @bind="Room.IsActive" /> &nbsp; Is Active
<br />

<span>This room is @(Room.IsActive?"Active":"Inactive")</span>

@code {
    Models.BlazorRoom Room = new Models.BlazorRoom()
        {
            Id = 1,
            RoomName = "Villa Suite",
            IsActive = true,
            Price = 499
        };

    public void TriggerUIUpdate()
    {
        Console.WriteLine(Room.RoomName + Room.IsActive);
    }
}