@page "/LearnRouting"
@page "/NewRouting"
@page "/LearnRouting/{parameter1}/{parameter2}"

<h3>LearnRouting</h3>
<h4>Parameter 1 : @parameter1</h4>
<h4>Parameter 2 : @parameter2</h4>

<NavLink class="btn btn-secondary" href="learnadvancedrouting?Param1=Blazing&Param2=Blazor">
    <span class="oi oi-list-rich" aria-hidden="true"></span> Learn Routing with Query Parameters
</NavLink>

@code {
    [Parameter]
    public string parameter1 { get; set; } = "0";
    [Parameter]
    public string parameter2 { get; set; } = "0";
}
