@page "/parentComponent"

<h1 class="text-danger">Parent Child Component</h1>

<ChildComponent Title="This title was passed down from Parent Component">
    Render Fragment from Parent
</ChildComponent>

@code {

}
