<div class="border mt-2">
    <div class="row">
        <h4 class="text-primary pl-4 pt-2 col-12">Grandchild Component</h4>
    </div>
    <div class="row">
        <p class="pl-4 ml-2"> This is a message - @MessagefromGrandParent </p>
        <p class="pl-4 ml-2"> Lucky Number - @LuckyNumberfromGrandParent </p>
    </div>
</div>
@code {
    [CascadingParameter(Name = "GrandParentMessage")]
    public string MessagefromGrandParent { get; set; }

    [CascadingParameter(Name = "GrandParentLuckyNumber")]
    public string LuckyNumberfromGrandParent { get; set; }
}